.create-note-container {
    display: flex;
    flex-direction: column;
}

.create-note-textarea {
    
    padding: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-note-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-note-button:hover {
    background-color: #0056b3;
}

